<h2><span>[</span>Sign<span>]</span> <span>[</span>in<span>]</span></h2>

<style>
    span { color: black; }
    h2 {
        color: dodgerblue;
    }
    input {
        padding: 10px;
        margin: 3px;
        border: 1px dotted dodgerblue
    }
    button {
        padding: 10px 76px;
        background-color: dodgerblue;
        border: 2px outset dodgerblue;
        color: white;
    }
    button:hover {
        background-color: greenyellow;
        border-width: 2px;
        border-style: outset;
        color: black;
        border-color: greenyellow;
    }
</style>
<form>
    <input type='email' placeholder='Email' name='email' value='' /><br />
    <input type='password' placeholder='Password' name='password' value='' /><br />
    <button type='submit'>Sign in</button>
</form>