<h2><span>[</span>Sign<span>]</span> <span>[</span>up<span>]</span></h2>

<style>
    span { color: black; }
    h2 {
        color: dodgerblue;
    }
    input {
        padding: 10px;
        margin: 3px;
        border: 1px dotted dodgerblue
    }
    button {
        padding: 10px 75px;
        background-color: dodgerblue;
        border: 2px outset dodgerblue;
        color: white;
    }
    button:hover {
        cursor: pointer;
        background-color: greenyellow;
        border-width: 2px;
        border-style: outset;
        color: black;
        border-color: greenyellow;
    }
</style>
<form class='form-div' method='POST' action ='/signin'>
    <input type='text' placeholder='First Name' name='firstName' value='' /><br />
    <input type='text' placeholder='Last Name' name='lastName' value='' /><br />
    <input type='email' placeholder='Email' name='email' value='' /><br />
    <input type='password' placeholder='Password' name='password' value='' /><br />
    <input type='password' placeholder='Confirm Password' name='confirmPassword' value='' /><br />
    <button type='submit'>Sign up</button>
</form>